@charset "utf-8";
/* CSS Document */

body, html {
    height: 100%;
	margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.jumbotro {
	background: url('https://wallpapercave.com/wp/wp9484932.jpg') no-repeat center;
	background-size: cover;
	color: #ffffff;
	text-align: center;
	padding: 150px 0;
	margin-bottom: 0;
	font-family: "Arial Black";
  }
  

/* ---------------- Main Content --------- */
.content {
	margin: auto;
	max-width: 800px;
	padding: 3em;
	text-align: center;
	color: #808080;
}
.blue-text{
	color: #000000;
	text-transform: uppercase;
	font-size: 1.3em;
}
#text {
	padding-top: 1em;
}
img {
  width: 100%;
  display: block;
}

/* Homepage Images Grid */
#imageGrid {
	max-width: 1200px;
	margin: auto;
}
@media (min-width: 500px) {
	.grid {
    	display: grid;
    	grid-template-columns: repeat(2, 1fr);
    	grid-gap: 2rem;
  	}
}
@media (min-width: 800px) {
	.grid {
		grid-template-columns: repeat(4, 1fr);
	}
}
.grid-group {
	margin-bottom: 3rem;
	font-size: .7em;
	padding: 0 10px;
}
@media (min-width: 500px) {
	.grid-group {
		margin-bottom: 0;
  	}
}
.blue {
	color: #000000;
	font-weight: bold;
}
/* ---------------- END Main Content --------- */



/* Social Media Icons */
#SocialMedia {
	padding-left: 150px;
}
@media screen and (max-width: 900px) {
  #SocialMedia {
	padding-left: 0;
  }
}
.fab {
  padding: 10px;
  font-size: 20px;
  width: 25px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.fab:hover {
    color: #12a8e1;
}
.fa-facebook-f {
  color: #808080;
}
.fa-twitter {
  color: #808080;
}
.fa-linkedin-in {
  color: #808080;
}

/* ----------------  About Page  --------- */
#services {
	max-width: 1200px;
	margin: auto;
}

@media (min-width: 500px) {
	.grid-services {
    	display: grid;
    	grid-template-columns: repeat(2, 1fr);
    	grid-gap: 2rem;
  	}
}
@media (min-width: 800px) {
	.grid-services {
		grid-template-columns: repeat(3, 1fr);
	}
}
.grid-group-services {
	margin-bottom: 3rem;
	font-size: .7em;
	padding: 0 10px;
}
@media (max-width: 500px) {
	.grid-group-services {
		height: 100px;
  	}
}
.fas  {
  padding: 10px;
  font-size: 50px;
  width: 55px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
@media (max-width: 950px) {
	.fas {
		font-size: 35px;
		width: 40px;
  	}
}
@media (max-width: 650px) {
	.fas {
		font-size: 25px;
		width: 30px;
  	}
}
.fa-video, .fa-volume-up, .fa-bolt, .fa-pencil-ruler, .fa-paint-brush, .fa-ship {
	color: #000000;
}
.services-icon {
	float: left;
}
.services-description {
	float: right;
	width: 70%;
	font-size: 1.3em;
	color: #808080;
}



.slider {
	width: 80%; 
	margin: auto; 
	padding: 20px; 
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
	border: 1px solid #ddd; 
	background-color: #f9f9f9; 
	min-height: 125px; 
	position: relative; 
	overflow: hidden; 
  }
  

  .slide {
	display: none;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	padding: 20px; 
	text-align: center; 
  }
  

  .slide h2 {
	font-size: 2em; 
	margin-bottom: 10px; 
	color: #333; 
  }


  .slide p {
	font-size: 1.2em; 
	color: #666; 
  }
  
  .active {
	display: block;
  }
  